<weui-tabbar >
  <weui-tab heading="广场" [badge]="8" [icon]="'<img src=./assets/images/icon_tabbar.png>'" >
    <weui-infiniteloader (loadmore)="onLoadMore($event)" >
                <app-header></app-header>
                <div *ngFor="let i of items"  href="javascript:;">
                    <app-posts></app-posts>
                </div>>
                <weui-button *ngIf="restartBtn" (click)="restart()">重新开始</weui-button>
    </weui-infiniteloader>
  </weui-tab>
  <weui-tab heading="说" [icon]="'<img src=./assets/images/icon_tabbar.png>'" (select)="onSelect()">
      <article class="weui-article">
          
          <p><i> Good morning, and in case I don't see you, good afternoon, good evening...</i></p>
          
          <app-create-post></app-create-post>
      </article>

  </weui-tab>
  <weui-tab heading="时间线" [badge]="'dot'" [icon]="'<img src=./assets/images/icon_tabbar.png>'">
    <weui-infiniteloader (loadmore)="onLoadMore($event)" >
        <app-header></app-header>
        <div *ngFor="let i of items"  href="javascript:;">
            <app-posts></app-posts>
        </div>>
        <weui-button *ngIf="restartBtn" (click)="restart()">重新开始</weui-button>
    </weui-infiniteloader>
</weui-tab>
  <weui-tab heading="我" [icon]="'<img src=./assets/images/icon_tabbar.png>'">
    
      <div >
            
        <app-user-info></app-user-info>
      </div>
      
  </weui-tab>
</weui-tabbar>
