<img src="../../assets/images/img4.jpeg" >
<div class="weui-form-preview">
<div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">用户名</label>
        <span class="weui-form-preview__value">玛丽莲梦露</span>
    </div>
    <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">性别</label>
        <span class="weui-form-preview__value">女</span>
    </div>
    <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">简介</label>
        <span class="weui-form-preview__value">世界上最性感的女星之一，代表作有《七年之痒》等,一开始只是在一个普通的工业制造厂工作，后来被星探挖掘。</span>
    </div>
</div>
<div class="weui-form-preview__ft">
    <a class="weui-form-preview__btn weui-form-preview__btn_primary" (click)="onLogout()">退出登录</a>
</div>
</div>
